h1 {
    font-family: 'Parisienne', cursive;
}
body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.game-container {
    background-color: #0055A4;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#croissant-image {
    width: 50px;
    height: auto;
}

.verb, #verb-placeholder {
    text-align: center;    
}

.verb,
.number-person-placeholders {
    display: grid;
    place-items: center;
    margin: 8px;
}

.number-person-placeholders p {
    margin-right: 30px; 
}

@media screen and (min-width: 768px) {
    .answers ul {
        justify-content: space-between; /* Puts buttons in a row */
        flex-wrap: wrap;
        justify-content: center;

    }
    
    .answers li {
        width: calc(33.33% - 10px); 
        justify-content: center;

    }
}
@media screen and (max-width: 767px) {
    .answers li {
        width: calc(50% - 10px);
        justify-content: center;

    }
}
@media screen and (max-width: 480px) {
    .answers li {
        width: calc(100% - 10px);
        justify-content: center;

    }
}

.answers ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.answers li{
    margin: 5px;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

ul.bullet-list {
    list-style: none;
    padding-left: 0;
}

ul.bullet-list li::before {
    content: "⚜️"; /* Fleur-de-lis symbol */
    margin-right: 8px;
    
}

div.verb {
    background-color: #EF4135;
    font-size: 24px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

.number-person-placeholders {
    background-color: white;
    color: #0055A4;
    font-size: 24px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

button {
    background-color: #fcb52a;
    color: black;
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }


    button:hover {
    background-color: #22e86e;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    pointer-events: auto; 
}

.score-timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #white; 
    font-size: 18px; 
    padding: 10px; 
    position: relative;
    background: none; 
}

.score-croissant {
    display: flex;
    align-items: center;
}